# Frontend Environment Variables
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key_here
# For sdx-lab1: https://sdxapi.atlanticwave-sdx.net
VITE_API_BASE=http://localhost:3004
VITE_BACKEND_PORT=3004
VITE_NODE_ENV=development
VITE_ORCID_CLIENT_ID=your_orcid_client_id_here
VITE_ORCID_CLIENT_SECRET=your_orcid_client_secret_here
VITE_ORCID_TOKEN_URL=https://orcid.org/oauth/token
VITE_CILOGON_CLIENT_ID=your_cilogon_client_id_here
VITE_CILOGON_REDIRECT_URI=https://sdxapi.atlanticwave-sdx.net/auth/callback/cilogon
VITE_CILOGON_TOKEN_URL=https://cilogon.org/oauth2/token

BACKEND_PORT=3004
